<div class="card">
  <div class="card-block">
    <div class="row">
      <div class="col-md-12">
        <p class="card-text">
          <span class="text-muted"><%= message.spotify_user.username %> at <%= message.timestamp %> says</span><br>
          <%= message.body %>
        </p>
      </div>
    </div>
  </div>
</div>