<div class="feature" id="music" style="border: 10px solid <%=@photo['color']%>">
  <h2>Listen</h2>
  <%if current_spotify_user%>
    <img src="<%=@playlist_img%>" alt="" id="playlist_img">
    <p id="playlist_name"><a href="<%= @playlist["external_urls"]["spotify"] %>"><%=@playlist_name%></a></p>
  <%else%>
    <p>Please log in with Spotify to enable mood-enhancing playlists!</p>
  <%end%>
</div>
