<div class="feature" id="music" style="border: 10px solid <%=@photo['color']%>">
  <h2>Listen</h2>
  <img src="<%=@playlist_img%>" alt="" id="playlist_img">
  <p id="playlist_name"><a href="<%= @playlist["external_urls"]["spotify"] %>"><%=@playlist_name%></a></p>
</div>
