<div class="feature" id="poem" style="background-color: <%=@photo['color']%>">
  <h2>Read</h2>
  <h3><%= @poem['title'] %></h3>
  <h4><%= @poem['author'] %></h4>
  <p>
    <% @poem['lines'].each do |line| %>
      <%= line %>
    <% end %>
  </p>
</div>
