<div class="profile-container">

  <%= month_calendar do |date| %>
    <%= date.day %>
    <% end %>

  <div class="results-wrapper">
    <div class="">test</div>
    <div class="">test</div>
    <div class="">test</div>
 </div>
</div>
