<div class="profile-container">
  <h2>Your Moods</h2>

  <%#= month_calendar do |date| %>
    <%#= date.day %>
  <%# end %>

  <div class="table-wrapper">
    <table class="mood-table">
      <tr>
        <th>Mood</th>
        <th>Created At</th>
        <th>Mood Account</th>
      </tr>
      <tr class="rows">
        <td>Spooky</td>
        <td>Date</td>
        <td>Profile Icon</td>
      </tr>
    </table>
  </div>


</div>
