<div class="profile-container">

  <%= month_calendar do |date| %>
    <%= date.day %>
  <% end %>

  <div class="date-header">
    <h2 style="text-align:center;">Date</h2>
  </div>

  <div class="results-wrapper">
    <div class="">
      <img src="assets/emojis/alluring.png" alt="">
    </div>
    <div class="">
      <img src="assets/emojis/cool.png" alt="">
    </div>
    <div class="">
      <img src="assets/emojis/furious.png" alt="">
    </div>
  </div>

</div>
