<div class="profile-container">

  <%= month_calendar do |date| %>
    <%= date.day %>
    <% end %>

  <div class="results-wrapper">
    <div class="">
      <p>This is for testing the area of this grid item</p>
    </div>
    <div class="">test</div>
    <div class="">test</div>
 </div>
</div>
