<!-- MENU SECTION  -->
<div class="menu-container" onclick="openMenu()">
  <div class="bar1"></div>
  <div class="bar2"></div>
  <div class="bar3"></div>

  <div id="menu-content" class="menu-dropdown">
    <a href="/">About</a>
    <a href="/">Login</a>
    <a href="/">Signup</a>
  </div>
</div>

<div id="form-overlay" class="overlay-container">
  <div class="closebtn" onclick="closeOverlay()">&times;</div>
  <div class="menu-content">
    <div class="signup">Signup</div>
    <div class="login">Login</div>
  </div>
</div>


<script src="/assets/pages.js"></script>
