<h1>The Mood Is</h1>
<%= image_tag("emojis/#{@mood}") %>

<div class="main-container">

<!--EVENTS CONTAINER-->
  <div class="event-container">
  <!-- event partial -->
  </div>

<!-- POEM CONTAINER  -->
  <div class="poem-container">
  <!-- poem partial -->
  </div>

<!-- MUSIC CONTAINER  -->
  <div class="music-container">
  <!-- poem partial -->
  </div>

</div>
