// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// MENU ICON
.menu-container {
  display: inline-block;
  cursor: pointer;
  float: right;
  // transition: .4s;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  margin: 6px 0;
  background-color: black;
  transition: .4s;
}

.switch .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  
}

.switch .bar2 {
  opacity: 0;
}

.switch .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  
}
