// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  font-family: 'Helvetica', sans-serif;
}

// MENU ICON
.menu-container {
  position: relative;
  display: inline-block;
  cursor: pointer;
  float: right;

}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  margin: 6px 0;
  background-color: black;
  transition: .5s;
}

// MENU DROPDOWN
.menu-dropdown {
  background-color: #ffcc33;
  position: absolute;
  right: 0;
  top: 32.5px;
  display: none;
  z-index: 1;
  min-width: 125px;
  border-radius: 5px;
  box-shadow: 0 0 5px 0 rgba(43,43,43,0.1),
  0 11px 6px -7px rgba(43,43,43,0.1);
}

.menu-dropdown div {
  display: block;
  padding: .7em .2em;
  text-decoration: none;
    &:hover {
    background-color: whitesmoke;
  }
}

.drop {
  display: block;
}

// MENU OVERLAY
.overlay-container {
  height: 0;
  width: 100%;
  z-index: 1;
  top: 0;
  left: 0;
  position: fixed;
  background-color: #ffcc33;
  opacity: .9;
  overflow-y: hidden;
  transition: .5s;
}

.overlay-about, .overlay-login, .overlay-signup {
 display: grid;
 justify-content: center;
 grid-template: 20px 20px / auto;
 grid-gap: 10px;
 position: relative;
 text-align: center;
 top: 10em;
}

.overlay-login input,
.overlay-signup input {
    margin: 1em;
    border-radius: 5px;
    padding: .5em 1.5em;
    min-width: 75%;
}

.loginBtn, .createBtn {
  background-color: transparent;
  border-color: transparent;
  font-weight: bold;
  font-size: smaller;
    &:hover {
    opacity: .8;
    color: whitesmoke;
    background-color: #29335C;
    border-color: transparent;
  }
}

.closebtn {
  position: absolute;
  cursor: pointer;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media only screen and (max-width: 376px) {
  .menu-container {
    float: none;
      .menu-dropdown {
      left: 0;
      position: relative;
      top: 0;
      max-width: 50%;
  }
}
  .overlay-login {
    margin-right: 0;
  }
  .closebtn {
    left: 85%;
  }
}

// EMOJI GRID
h1 {
  font-size: 3rem;
}

.container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  img {
    height: 60px;
  }
}


@media only screen and (min-width: 376px) {
  .container {
    grid-template-columns: repeat(8, 1fr);
    img {
      height: 120px;
    }
  }
}
