// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  font-family: 'Helvetica', sans-serif;
}

h1 {
  font-size: 3rem;
}

.container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  img {
    height: 60px;
  }
}


@media only screen and (min-width: 376px) {
  .container {
    grid-template-columns: repeat(8, 1fr);
    img {
      height: 120px;
    }
  }
}
