.feature {
  width: 20vw;
  position: absolute;
  padding: 3%;
  top: 20vh;
  min-height: 20%;
  background-color: rgba(255, 255, 255, 0.7);
  h2 {
    color: white;
    text-shadow: 3px 3px black;
  }
  h3, h4, p {
    color: black;
  }
}

#poem {
  left: 5vw;
  height: 20vh;
  overflow: scroll;
}

#music {
  left: 37vw;
}

#event {
  left: 70vw;
}

.player {
  position: fixed;
  bottom: 0;
  text-align: center;
  width: 100%;
  display: inline-block;
  background-color: black;
  color: white;
  padding: 1%;
  p {
    display: inline;
  }
}

@media only screen and (max-width: 375px) {
  .player {
    display: none;
  }
  .feature {
    width: 80vw;
    position: inherit;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5vh;
  }
  #poem {
    margin-top: 20vh;
  }

}
